.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.text-size {
    width: 100px;
}

.bi {
    margin-right: 10px;
}

.story {
    height: 70px;
}

.dp {
    height: 20px;
    margin-top: 5px;
    margin-right: 5px;
}

.image {
    width: 400px;
    height: 300px;
}

.suggestion h5 {
    font-size: 16px;
}

.suggestion .dp {
    margin-top: 0px !important;
}

.story-ring {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: linear-gradient( 45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.story-dp {
    width: 30px;
}

.profile {
    width: 100pxx;
    height: 100px;
}